@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Bungee Spice", cursive;
    --fonte3: "Caveat", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    
    background-color: rgb(37, 37, 37);
    min-height: 100vh;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: var(--fonte2);
    font-size: 5vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a>:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte3);
    font-size: 3vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: gray;
    color: white;
}

section.imagem > p{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 450px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}