@charset "UTF-8";

body{
    background-color: rgb(183, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: rgba(113, 113, 255, 0.479);
}

h1{
    color: rgb(0, 90, 90);
}

p{
    color: rgb(0, 23, 29);
}

.basico{
    color: green;
    font-weight: bold;
}

.inter{
    color: yellow;
    font-weight: bold
}

.avancado{
    color: red;
    font-weight: bold;
}