@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(#1B8C81, #AFD99C);
}

main{
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
    box-shadow: 7px 7px 5px #05362d7e;
    width: 500px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #086151;
    text-align: center;
    text-shadow: 1.5px 1.5px 2px #05362d7e;
}

h2 {
    color: #049177;
}

p{
    text-align: justify;
    padding: 3px;
}